<template>
    <div v-if="$store.state.token != null">
        <div id="header">
            <app-header/>
        </div>
        <div id="content">
            <nuxt/>
        </div>
    </div>
    <div v-else id='login'>
        <b-alert v-if="$store.state.loginError" show variant="danger">{{$store.state.loginError}}</b-alert>
        <b-form @submit="onSubmit">
            <b-form-group label="Login" label-for="exampleInput1">
                <b-form-input type="text" required placeholder="Enter login" v-model="login" />
            </b-form-group>
            <b-form-group label="Password" label-for="exampleInput2">
                <b-form-input type="password" required placeholder="Enter password" v-model="password" />
            </b-form-group>
            <b-button type="submit" variant="primary">Login</b-button>
        </b-form>
    </div>
</template>

<script>
import AppHeader from "~/components/AppHeader.vue";

export default {
  name: "App",
  data() {
    return {
      login: "",
      password: ""
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      this.$store.commit("login", {
        login: this.login,
        password: this.password
      });
    }
  },
  components: {
    AppHeader
  }
};
</script>

<style scoped>
#content {
  padding: 5px;
}
#login {
  padding: 100px;
}
</style>