<template>
<b-card bg-variant="error">
  {{error}}
</b-card>
</template>

<script>
export default {
  props: ["error"]
};
</script>

<style>
.bg-error {
  background: red;
  color: white;
  padding:100px;
}
</style>
