<template>
    <b-navbar type="dark" variant="red">
        <b-navbar-brand to="/" id="navBrand">
            Карта назначений
        </b-navbar-brand>
    </b-navbar>
</template>

<style scoped>
.bg-red {
  background: #ef3124;
}
</style>
