<style>
    .loading {
        margin: 0px;
        width: 100vw;
        height: 100vh;
        background-image: radial-gradient(circle at 50% 15%, #fff, #fff 30%, #ccc);
        -webkit-animation: draw 2s infinite linear alternate;
        -moz-animation: draw 2s infinite linear alternate;
        animation: draw 2s infinite linear alternate;
        position: relative;
        width: 100%;
        height: 100%;
        font-size: 0px;
    }

    .loading #logo {
        position: absolute;
        display: block;
        width: 140px;
        height: 140px;
        top: calc(50vh - 70px);
        left: calc(50vw - 70px);
    }

    .loading #logo path,
    .loading #logo ellipse {
        stroke-dasharray: 140px 240px;
        stroke-dashoffset: 0;
        -webkit-animation: draw 2s infinite linear alternate;
        -moz-animation: draw 2s infinite linear alternate;
        animation: draw 2s infinite linear alternate;
    }

    @-webkit-keyframes draw {
        0%,
        5% {
            stroke-dashoffset: 140px;
        }
        90%,
        100% {
            stroke-dashoffset: 0;
        }
    }

    @-moz-keyframes draw {
        0%,
        5% {
            stroke-dashoffset: 140px;
        }
        90%,
        100% {
            stroke-dashoffset: 0;
        }
    }

    @keyframes draw {
        0%,
        5% {
            stroke-dashoffset: 140px;
        }
        90%,
        100% {
            stroke-dashoffset: 0;
        }
    }
</style>
<div class="loading">
    <svg id="logo" viewBox="0 0 130 108" version="1.1">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(2.000000, 3.000000)" stroke="#EF3124" stroke-width="1">
                <path fill="#FFF" fill-rule="nonzero" d="M58.416 80.01a1.57 1.57 0 1 0 0 3.139 1.57 1.57 0 0 0 0-3.14zm-54.23 1.496s.785-2.616.9-3.025c.314-1.046.785-2.741.785-2.741h.084s.45 1.705.743 2.752l.858 3.045-3.37-.031zm4.762 4.751h2.825l-4.249-13.06a5.138 5.138 0 0 0-1.6-.241 3.694 3.694 0 0 0-1.382.24L0 86.258h2.71l.806-2.533h4.689l.764 2.564-.021-.031zm91.549.031s-1.33-2.857-1.664-3.505c-.335-.65-.712-1.246-1.466-1.424.503-.094.9-.408 1.34-1.34.44-.93.555-1.109.795-1.318a.66.66 0 0 1 .576-.136l.125-1.695a6.415 6.415 0 0 0-1.14 0 1.79 1.79 0 0 0-1.33.565c-.27.313-.488.666-.648 1.046l-.649 1.34c-.24.492-.345.701-.984.701h-.418v-3.61h-2.47v9.345h2.46v-3.82h.334c.701 0 .816.178 1.193.91.377.733 1.277 2.91 1.277 2.91l2.669.031zm-10.078 0v-9.376h-2.45v3.537h-2.783v-3.537h-2.449v9.345h2.449v-3.82h2.784v3.82l2.449.031zM22.793 76.87v8.937a9.419 9.419 0 0 0 3.58.712c2.605 0 4.007-1.35 4.007-3.569 0-2.01-1.235-3.244-3.537-3.244a6.007 6.007 0 0 0-1.58.23v-3.108l-2.47.042zm5.034 6.195c0 .921-.325 1.56-1.507 1.56a3.024 3.024 0 0 1-1.047-.147v-2.742a4.29 4.29 0 0 1 1.047-.146c1.13 0 1.507.544 1.507 1.433v.042zm53.623 2.302a4.186 4.186 0 0 1-.869-2.815v-2.511a3.516 3.516 0 0 0-.523-2.355c-.502-.701-1.329-1.046-2.867-1.046a12.872 12.872 0 0 0-3.14.376l.366 1.8c.656-.09 1.317-.14 1.978-.146 1.622 0 1.8.24 1.8 1.454v.46a4.678 4.678 0 0 0-1.235-.167c-2.448 0-3.746 1.193-3.746 3.14a2.815 2.815 0 0 0 3.077 2.867 4.992 4.992 0 0 0 1.8-.324c.303-.128.59-.29.858-.481.242.333.561.603.931.784l1.57-1.036zm-3.14-1.046c-.42.16-.868.238-1.318.23-.88 0-1.382-.345-1.382-1.245 0-.9.639-1.256 1.842-1.256.244-.005.488.026.722.094v.67a5.703 5.703 0 0 0 .136 1.507zm-24.195 1.046a4.249 4.249 0 0 1-.743-2.815v-2.511a3.506 3.506 0 0 0-.523-2.355c-.502-.701-1.33-1.046-2.857-1.046a12.893 12.893 0 0 0-3.14.376l.367 1.8c.637-.099 1.28-.158 1.925-.178 1.633 0 1.81.241 1.81 1.455v.492a4.73 4.73 0 0 0-1.234-.168c-2.46 0-3.747 1.193-3.747 3.14a2.815 2.815 0 0 0 3.077 2.867 4.992 4.992 0 0 0 1.81-.324c.303-.129.59-.29.859-.481.237.334.553.603.92.784l1.476-1.036zm-3.066-1.046c-.424.16-.876.239-1.33.23-.878 0-1.37-.345-1.37-1.245 0-.9.628-1.256 1.842-1.256a2.49 2.49 0 0 1 .732.094v.67c-.022.506.02 1.012.126 1.507zM20.93 86.257v-9.01a12.045 12.045 0 0 0-3.736-.576 11.91 11.91 0 0 0-3.715.576v4.615c.057.68.004 1.366-.157 2.03-.14.451-.427.842-.816 1.11l.67 1.443c1.967-.554 2.71-1.412 2.71-4.186V78.91c.428-.079.862-.117 1.298-.115.428-.002.856.036 1.276.115v7.326l2.47.021zm18.419 3.056v-3.349a3.83 3.83 0 0 0 1.978.45c2.093 0 3.61-1.727 3.61-4.887 0-3.401-1.517-4.856-4.029-4.856-.54-.03-1.08.075-1.57.303v-4.008H36.9v4.008a3.297 3.297 0 0 0-1.57-.303c-2.5 0-4.029 1.507-4.029 4.908 0 3.14 1.371 4.835 3.61 4.835a3.82 3.82 0 0 0 1.979-.45v3.36l2.459-.011zm-5.515-7.682c0-1.873.565-2.867 1.685-2.867.477-.034.955.064 1.381.283v5.159c-.403.14-.83.204-1.256.188-1.287 0-1.81-1.046-1.81-2.773v.01zm8.581-.062c0 1.726-.68 2.825-1.81 2.825a3.443 3.443 0 0 1-1.256-.188v-5.212a2.627 2.627 0 0 1 1.37-.282c1.131 0 1.696.931 1.696 2.804v.053zm29.857.617c0-2.313-1.36-3.914-4.186-3.914a7.65 7.65 0 0 0-1.936.24v-3.306a17.048 17.048 0 0 1 2.156-.115c.944-.003 1.887.05 2.825.157l.032-1.989a19.34 19.34 0 0 0-3.778-.387c-1.306.041-2.604.22-3.872.534v12.411c1.293.48 2.66.724 4.04.723 3.139 0 4.72-1.643 4.72-4.291v-.063zm-2.606.251A1.863 1.863 0 0 1 67.7 84.53a5.16 5.16 0 0 1-1.57-.178v-3.85a7.953 7.953 0 0 1 1.57-.116 1.78 1.78 0 0 1 1.967 2.01v.041zM50.233 8.877l-4.636 13.888h9.324L50.233 8.878zM34.012 45.852a.523.523 0 0 0-.513.534v5.944a.523.523 0 0 0 .513.534h32.441a.523.523 0 0 0 .524-.534v-5.944a.523.523 0 0 0-.513-.534H34.012zM50.232.621c3.548 0 4.668 2.543 5.6 5.086l9.9 27.115a.534.534 0 0 1-.304.69l-5.358 2.073a.523.523 0 0 1-.66-.314c-.094-.262-2.093-5.777-2.312-6.394H43.42l-2.323 6.394a.523.523 0 0 1-.66.314l-5.39-2.093a.544.544 0 0 1-.303-.69c.335-.943 9.419-25.818 9.89-27.116.9-2.512 2.093-5.086 5.62-5.086l-.021.02z"
                />
            </g>
        </g>
    </svg>
</div>