<template>
    <div>
        <b-card bg-variant="light">
            <b-form @submit="search">
                <b-input-group>
                    <b-form-input id="searchId" required type="text" placeholder="Введите адрес" v-model="address" autocomplete="off"></b-form-input>
                    <b-button type="submit">Поиск</b-button>
                </b-input-group>
            </b-form>
        </b-card>
        <b-progress v-show="loading" :value="100" :max="100" animated></b-progress>

        <b-alert variant="danger" :show="loadingError!=null">{{loadingError}}</b-alert>
        <b-alert variant="warning" :show="loadingNotFound!=null">Указаный адрес не найден</b-alert>

        <b-list-group v-show="data.length > 0">
            <b-list-group-item href="#" v-bind:key="index" v-for="(item, index) in data" v-show="dataSelected == null || isSearchSelected(index)"
                v-bind:class="{ 'active' : isSearchSelected(index) }" v-on:click="selectSearch(index)">{{item.formatted_address}}</b-list-group-item>
        </b-list-group>

        <b-card bg-variant="light" v-show="dataSelected != null">
            <b-form-checkbox-group v-model="filter" :options="options" />
        </b-card>

        <b-tabs v-show="dataSelected != null">
            <b-tab title="Список" active>
                <b-progress v-show="loadingObjects" :value="100" :max="100" animated></b-progress>
                <b-alert variant="danger" :show="loadingObjectsError!=null">{{loadingObjectsError}}</b-alert>
                <b-alert variant="warning" :show="loadingObjectsNotFound!=null">Указаные объекты не найдены</b-alert>

                <b-list-group>
                    <b-list-group-item href="#" class="flex-column align-items-start" v-bind:key="index" v-for="(item, index) in dataObjects.slice(0, this.ITEM_TABLES_MAX_ROWS)">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{item.description}}</h5>
                            <small>{{Math.round(item.dist)}} км</small>
                        </div>
                        <small>{{item.city}}, {{item.address}}</small>
                        <p class="mb-1">
                            {{item.razmeshenie}}
                        </p>
                        <small>{{item.schedule}}</small>
                    </b-list-group-item>
                </b-list-group>
            </b-tab>
            <b-tab title="Карта" @click="showMap">
                <div id="mapId" />
            </b-tab>
        </b-tabs>
    </div>
</template>

<script>
export default {
  data() {
    return {
      ITEM_TABLES_MAX_ROWS: 10,
      data: [],
      dataSelected: null,
      address: null,
      loading: false,
      loadingError: null,
      loadingNotFound: null,
      filter: ["branch", "pos", "ikc"],
      options: [
        { text: "Отделения Альфа Банк", value: "branch" },
        { text: "Отделения УСБ", value: "pos" },
        { text: "ИКЦ", value: "ikc" }
      ],
      dataObjects: [],
      loadingObjects: false,
      loadingObjectsError: null,
      loadingObjectsNotFound: null
    };
  },
  mounted() {
    const searchId = document.getElementById("searchId");
    if (searchId) searchId.focus();
  },
  watch: {
    filter: function(val) {
      this.searchObjects();
    }
  },
  methods: {
    isSearchSelected(id) {
      return this.dataSelected == id;
    },
    selectSearch(id) {
      this.dataSelected = id;
      this.searchObjects();
    },
    showMap() {
      if (!window.google) {
        let mapScript = document.createElement("script");
        mapScript.setAttribute(
          "src",
          `//maps.googleapis.com/maps/api/js?key=${process.env.googlekey}`
        );
        mapScript.addEventListener("load", () => {
          this.loadMap();
        });
        document.body.appendChild(mapScript);
      }
    },
    loadMap() {
      if (window.google) {
        const obj = this.data[this.dataSelected];

        const map = new google.maps.Map(document.getElementById("mapId"), {
          zoom: 17,
          center: {
            lat: obj.geometry.location.lat,
            lng: obj.geometry.location.lng
          },
          gestureHandling: "greedy"
        });

        new google.maps.Marker({
          icon: "images/marker.png",
          position: new google.maps.LatLng(
            obj.geometry.location.lat,
            obj.geometry.location.lng
          ),
          center: new google.maps.LatLng(
            obj.geometry.location.lat,
            obj.geometry.location.lng
          ),
          flat: true,
          draggable: false,
          map: map
        });

        for (var i = 0; i < this.dataObjects.length; i++) {
          const item = this.dataObjects[i];

          const latLng = new google.maps.LatLng(item.lat, item.lng);

          const marker = new google.maps.Marker({
            position: latLng,
            map: map,
            flat: true,
            draggable: false
          });

          const divisionName = number => {
            switch (parseInt(number)) {
              case 0:
                return "Отделение";
              case 1:
                return "ИКЦ";
              case 2:
                return "УСБ";
              case 3:
                return "Банкомат";
            }
          };

          let message = `<b>Тип: </b>${divisionName(item.division)}`;
          message += `<br><b>Адрес: </b>${item.address}`;
          if (item.schedule) message += `<br><b>График: </b>${item.schedule}`;
          if (item.atmType) message += `<br><b>Тип: </b>${item.atmType}`;
          if (item.description)
            message += `<br><b>Описание: </b>${item.description}`;
          if (item.razmeshenie)
            message += `<br><b>Ориентир: </b>${item.razmeshenie}`;
          if (item.uid) message += `<br><b>ATM ID: </b>${item.uid}`;

          const infowindow = new google.maps.InfoWindow({
            content: message
          });

          marker.addListener("click", function() {
            infowindow.open(map, marker);
          });
        }
      }
    },
    async searchObjects() {
      this.loadingObjects = true;
      this.loadingObjectsError = null;
      this.loadingObjectsNotFound = null;
      this.dataObjects = [];

      const obj = this.data[this.dataSelected];

      let query = `lat=${obj.geometry.location.lat}`;
      query += `&lng=${obj.geometry.location.lng}`;
      query += `&countLine=100`;

      this.filter.forEach(a => {
        query += `&${a}=1`;
      });

      try {
        const result = await this.$axios.$get(`/map/api/list?${query}`);

        if (result.msg.length == 0) {
          this.loadingObjectsNotFound = true;
        }
        this.dataObjects = result.msg;
        this.loadingObjects = false;
      } catch (err) {
        this.loadingObjectsError = err.toString();
        this.loadingObjects = false;
      }

      this.loadMap();
    },
    async search(evt) {
      evt.preventDefault();

      try {
        this.loading = true;
        this.loadingError = null;
        this.loadingNotFound = null;
        this.data = [];
        this.dataSelected = null;

        const params = {
          key: process.env.googlekey,
          address: `Украина, ${this.address}`,
          components: "country:UA",
          language: "ru",
          region: "ua"
        };

        const query = Object.keys(params)
          .map(k => encodeURIComponent(k) + "=" + encodeURIComponent(params[k]))
          .join("&");

        const result = await this.$axios.$get(
          `https://maps.googleapis.com/maps/api/geocode/json?${query}`
        );

        this.loading = false;
        this.data = result.results;
        if (this.data.length == 0) this.loadingNotFound = true;
        else if (this.data.length == 1) this.selectSearch(0);
      } catch (err) {
        this.loading = false;
        this.loadingError = err.toString();
      }
    }
  }
};
</script>

<style>
.alert,
.progress,
#optionsSearch,
.tabs {
  margin-top: 10px;
}
.list-group,
.card {
  margin-top: 10px;
}
.btn {
  margin-left: 10px;
}
#mapId {
  height: 500px;
}
</style>
